<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Ruta de Acceso a la Base de Datos PRE_CRM -->
    <add name="Activa" connectionString="Yd+wri6q06+mbPu7yE2JwBQv2BIU468So46uBHNE2HieWlxE9aE/Trpvc82r9M4WnvmyT+Uy6QG6QTxowguLWbTTh9lkV9DvQg7PfFUfDI0="/>
  </connectionStrings>

  <appSettings>

    <!-- Ruta de Acceso al CRM MACAL -->
    <add key="Usuario_CRM" value="imqd8kanHBs/cPVfNmdJarH+syb/RNEFR2sTyFNUfLU="/>
    <add key="Clave_CRM" value="ZwD/y9Dy8fzwC6yli4zdjA=="/>
    <add key="URL_CRM" value="tjA/CL3bvsgjvXSUm3EKQwH1knBiGZKzILAMi5dMyrObVfmk0Nii+6d/itQIeSIk"/>
    <add key="Connection_CRM" value="Url={0}; Username={1};Password={2};AuthType=Office365;"/>
    <!-- Cierre de Acceso al CRM MACAL -->

    <!-- ========== CONFIGURACION ENVÍO DE CORREOS MEDIANTE DLL ====================================== -->
    <!--    <add key="CorreoCliente" value="lvnO9pSA5tWbHV7H2y82ogqFiEX7lm6G"/>
    <add key="CorreoClave" value="ZwD/y9Dy8fzwC6yli4zdjA=="/>
    <add key="Host" value="XrU//gmCpVvpZvEGyT0lT1F8j+vkDIyD"/>
    <add key="Port" value="+WT636dsK3c="/> -->
    <!-- ========== FIN DE CONFIGURACION ENVÍO DE CORREOS MEDIANTE DLL =============================== -->

    <!-- ========== CONFIGURACION A QUIÉN LE MANDAMOS EL CORREO ====================================== -->
   <!-- <add key="CorreoSoporte" value="LnjdSPXX34GsnCZeqzsrMi2W1oD9V0oU"/>-->
    <!-- ========== FIN DE CONFIGURACION A QUIÉN LE MANDAMOS EL CORREO =============================== -->


    <!-- ========== VARIOS ====================================== -->
  <!--    <add key="GuidDivisa" value="015110E1-9611-E911-A953-000D3A13C05D"/>-->
    <add key="GuidListaPrecios" value="4E2EB14B-AE3E-E911-A83B-000D3A1B730F"/>
    <add key="Unidad"           value="CD7D5C20-9E7F-4817-AE51-E08A8BC6F033"/>
    <add key="Zenith Consulting Limitada" value="760944378"/>
    <add key="Zenith Consulting SPA" value="76518293" />
    <add key="Zenith Consulting S.A.C" value="20604342" />
    <add key="Tipo de Cambio" value="954760000"/>
    <add key ="Productos" value="rbHYLZwZWY9qUYh1TsXlGqR7XuS9yoIH8Vy2FkhTWr7zmwYYPSUd+A=="/>
    <!-- ========== FIN VARIOS =============================== -->
    
    
    <!-- Ruta del Log -->
   <add key="PathLogServicio" value="D:\Inhouse\FacturacionCrm\Facturacion CRM Comercial.UI\Log\Facturación "/>
     <!-- <add key="PathLogServicio" value="D:\Log\Facturación crm Comercial\"/>-->
    <!-- Cierre de la Ruta del Log -->
    
    
    
    
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>